<template>
    <div class="intro container">
        <component :is="$route.params.id"></component>
    </div>
</template>

<script>
    import Intro1_0 from './Intro1_0'
    import Intro1_1 from './Intro1_1'
    import Intro1_2 from './Intro1_2'
    import Intro1_3 from './Intro1_3'
    import Intro1_4 from './Intro1_4'
    import Intro1_5 from './Intro1_5'

    export default {
        components: {
            0: Intro1_0,
            1: Intro1_1,
            2: Intro1_2,
            3: Intro1_3,
            4: Intro1_4,
            5: Intro1_5
        },
        methods: {}
    }
</script>

<style scoped>
    .game_menu {
        height: 520px;
    }

    .box {
        width: 330px;
        background: #19005f;
        margin: 30px;
        padding: 20px;
        text-align: center;
        color: #fff;
        position: relative;
    }

    .sb4:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: 10px solid transparent;
        border-right: 10px solid #19005f;
        border-top: 10px solid #19005f;
        border-bottom: 10px solid transparent;
        right: 19px;
        bottom: -19px;
    }

    .groot {
        right: 20px;
        height: 250px;
    }
</style>
