<template>
    <div class="row">
        <div class="col-md-6 pt-3 center-block text-center pr-5">
            <img :src="slot" class="game_menu center-block"/>
        </div>

        <div class="col-md-6 pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Подготовка к полету</h5>
                    <h6 class="card-subtitle mb-2 text-muted">День 1</h6>
                    <div class="box sb4">Но вот незадача :( <br/>Слот для сохранения игры только один</div>

                    <div class="row">
                        <div class="col-md-7"></div>
                        <div class="col-md-5">
                            <img :src="groot" class="groot"/><br/>
                        </div>
                    </div>
                    <router-link to="/tasks/introduction/1" class="card-link">
                        Назад
                    </router-link>
                    <router-link to="/tasks/introduction/3" class="card-link float-right">
                        Далее
                    </router-link>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import groot from "../../../src/assets/images/intro_lesson/groot.png"
    import slot from "../../../src/assets/images/intro_lesson/slot.png"


    export default {
        data: function () {
            return {
                groot: groot,
                slot: slot
            }
        }
    }
</script>

<style scoped>
    .groot {
        right: 20px;
        height: 250px;
    }
    img {
        max-width: 100%;
    }
</style>
