<template>
    <div class="row">
        <div class="col-md-6 pt-3 center-block text-center pr-5">
            <img :src="slot" class="game_menu center-block"/>
        </div>

        <div class="col-md-6 pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Подготовка к полету</h5>
                    <h6 class="card-subtitle mb-2 text-muted">День 1</h6>
                    <div class="box sb4">
                        Кажется ничего страшного в этом нет.
                        Я играю до поздней ночи, сохраняюсь и ложусь спать.
                        На следующий день продолжаю игру с того места, где остановился вчера.
                        Но однажды... я понимаю, что пару дней назад принял неверное решение в стратегии игры и
                        мне нужно вернуться в то состояние.
                        А у меня лишь один слот сохранения, и нет возможности вернуться назад, чтобы что-то
                        изменить

                    </div>
                    <div class="text-center">
                        <img :src="groot_sad" class="groot_sad"/>
                    </div>

                    <div class="pt-2">
                        <router-link to="/tasks/introduction/2" class="card-link">
                            Назад
                        </router-link>
                        <router-link to="/tasks/introduction/4" class="card-link float-right">
                            Далее
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import groot_sad from "../../../src/assets/images/intro_lesson/groot_sad.jpg"
    import slot from "../../../src/assets/images/intro_lesson/slot.png"

    export default {
        name: "1_1",
        data: function () {
            return {
                groot_sad: groot_sad,
                slot: slot
            }
        }
    }
</script>

<style scoped>
    .box {
        font-size: 11pt !important;
        margin-top: 10px;
        margin-left: 0;
    }

    .groot_sad {
        margin-top: -20px;
    }

    img {
        max-width: 100%;
    }
</style>
