<template>
    <div class="row">
        <div class="col-md-6 pt-3 center-block text-center pr-5">
            <img :src="slot" class="game_menu center-block"/>
        </div>

        <div class="col-md-6 pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Подготовка к полету</h5>
                    <h6 class="card-subtitle mb-2 text-muted">День 1</h6>
                    <div class="box sb4">
                        А что, если вместе со мной на этом компьютере в эту же игру играют еще несколько
                        человек? Стало быть, портят мою статистику, тратят игровые деньги и при этом сохраняются на тот
                        же
                        единственный слот.

                    </div>
                    <div class="text-center ">
                        <img :src="heroes" class="heroes"/>
                    </div>

                    <div class="pt-2">
                        <router-link to="/tasks/introduction/3" class="card-link">
                            Назад
                        </router-link>
                        <router-link to="/tasks/introduction/5" class="card-link float-right">
                            Далее
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import heroes from "../../../src/assets/images/intro_lesson/heroes.jpg"
    import slot from "../../../src/assets/images/intro_lesson/slot.png"

    export default {
        name: "1_1",
        data: function () {
            return {
                heroes: heroes,
                slot: slot
            }
        }
    }
</script>

<style scoped>
    .box {
        font-size: 11pt !important;
        width: 490px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .heroes {
        width: 370px;
    }
    img {
        max-width: 100%;
    }
</style>
