<template>
    <div class="row">
        <div class="col-md-6 pt-3 center-block text-center pl-5">
            <div class="card"  style="padding: 10px">
                <img :src="git_logo" class="git_logo center-block"/>
                <h5 class="pt-2">Позволяет “сохраняться по слотам"</h5>
                <img :src="branch" class="branch center-block"/>
            </div>
        </div>

        <div class="col-md-6 pt-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Подготовка к полету</h5>
                    <h6 class="card-subtitle mb-2 text-muted">День 1</h6>
                    <div class="box sb4">
                        Вернемся в трудовой мир. У вас большой проект, много папок, кода, разных файлов, каждый
                        разработчик пытается что-то править. Вы быстро запутаетесь, кто-то ошибется при
                        написании кода. Исправить ошибку будет сложно (невозможно), поскольку проект огромный.
                        И. Рано или поздно вам придется внедрить систему контроля версий


                    </div>
                    <div class="text-center">
                        <img :src="project" class="project"/>
                    </div>

                    <div>
                        <router-link to="/tasks/introduction/2" class="card-link">
                            Назад
                        </router-link>
                        <router-link to="/" class="card-link float-right">
                            Далее
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import project from "../../../src/assets/images/intro_lesson/project_structure.jpg"
    import branch from "../../../src/assets/images/intro_lesson/branch.png"
    import git_logo from "../../../src/assets/images/intro_lesson/git_logo.png"


    export default {
        name: "1_1",
        data: function () {
            return {
                git_logo: git_logo,
                branch: branch,
                project: project
            }
        }
    }
</script>

<style scoped>
    .text-center {
        text-align: center;
    }
    .box {
        font-size: 11pt !important;
        width: 490px;
        margin-top: 10px;
        margin-left: 0px;
    }

    .git_logo {
        width: 300px;
    }

    .project {
        width: 370px;
    }

    .branch {
        width: 470px;
    }
</style>
