<template>
    <Lesson slug="git_reset" :intro_text="intro_text">
        <div class="task">
            <p>
                Разработчик Ракета внес изменения в 2 файла. Файл приветствия на борту
                <mark>hello.py</mark>
                и задание
                маршрута полета
                <mark>route.py</mark>
                . <br>
                Он хотел записать эти файлы как два отдельных коммита,
                но, увы, случайно ввел команду
                <mark>git add .</mark>
                , проиндексировав оба файла.<br>
                Отмени индексацию файла
                <mark>hello.py</mark>
                .<br>

                Тебе помогут команды
                <mark>git rm, git add и git commit</mark>
                <img :src="enot" class="enot center-block"/>

            </p>
        </div>
    </Lesson>
</template>

<script>
    import Lesson from '../../../src/components/TerminalLesson';
    import enot from '../../../src/assets/images/lessons/enot.jpg';

    export default {
        name: "GitReset",
        components: {Lesson},
        data() {
            return {
                enot: enot
                /*                intro_text: [
                                    'Енот Ракета внес изменения в 2 файла. Файл приветствия на борту hello.py и задание ',
                                    'маршрута полета route.py. Он хотел записать эти файлы как два отдельных коммита, ',
                                    'но, увы, случайно ввел команду $ git add . , проиндексировав оба файла. ',
                                    `Отмени индексацию файла hello.py.`,
                                    '',
                                    'Тебе помогут команды git rm, git add и git commit'
                                ]*/
            }
        }
    }
</script>
<style>
    .task {
        margin-top: 17px;
    }

    mark {
        color: red;
        font-family: "Courier New";
    }

    .enot {
        margin-top: 10px!important;
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 75%;
    }
</style>