<template xmlns="http://www.w3.org/1999/html">
    <Lesson slug="git_commit" :intro_text="intro_text">
        <div class="task">
            <p>
                Разработчик Йонду создал новый файл с ключами доступа keys.txt.<br>
                Добавь, пожалуйста, этот файл в наш репозиторий.
                Для этого нужно использовать команды <mark>git add</mark> и <mark>git commit</mark>
            </p>
            <img :src="yondu" class="yondu center-block"/>
        </div>
    </Lesson>
</template>

<script>
    import Lesson from '../../../src/components/TerminalLesson';
    import yondu from "../../../src/assets/images/lessons/yond.jpg"


    export default {
        name: "GitCommit",
        components: {Lesson},
        data() {
            return {
                yondu: yondu
                /*                intro_text: [
                                    'На базе мы разрабатываем программу для автопилотирования нашего корабля.',
                                    'Предлагаю тебе присоединиться к нашему проекту!',
                                    '',
                                    'Все наши исходники хранятся в репозитории.',
                                    'Мы создали новый файл с ключами доступа keys.txt.',
                                    'Добавь, пожалуйста, этот файл в наш репозиторий.',
                                    'Для этого нужно использовать команды git add и git commit'
                                ]*/
            }
        }
    }
</script>
<style scoped>
    .xterm {
        width: 20px;
    }

    .task {
        margin-top: 17px;
    }

    mark {
        color: red;
        font-family: "Courier New";
    }

    .yondu {
        width: 95%;
    }
</style>