<template>
    <div class="container">
        <div class="card mb-12">
            <div class="card-header">Общий прогресс</div>
            <div class="card-body">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped" role="progressbar" :style="{width: progressPercent}">
                        {{progressPercent}}
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-12">
            <div class="card-header">Выполненные команды</div>
            <div class="card-body">
                <GChart
                        type="ColumnChart"
                        :data="commandsStatData"
                        :options="chartOptions"
                />
            </div>
        </div>
    </div>
</template>

<script>
    import {GChart} from 'vue-google-charts'
    import {mapState} from 'vuex';
    import {getCommandStat} from "../services/websocket";

    export default {
        name: "Stat",
        components: {GChart},
        data() {
            return {
                chartOptions: {
                    height: 400
                }
            }
        },
        computed: mapState({
            stat: state => state.command_stat,
            name: state => state.user ? state.user.first_name : '',
            commandsStatData: state => {
                const res = [
                    ['Команда', 'Кол-во']
                ];
                if (state.command_stat)
                    state.command_stat.forEach(x => res.push([x.command, x.count]));
                return res;
            },
            progressPercent: state => `${Math.ceil(state.progress * 100 / state.max_progress)}%`
        }),
        created() {
            getCommandStat();
        }
    }
</script>

<style scoped>
    .progress {
        background: black;
        height: auto;
    }
    .progress-bar {
        font-size: 20px;
        padding-top:10px;
        padding-bottom:10px;
    }
</style>
