<template>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Пользователь</th>
                <th scope="col">Рейтинг</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(item, index) in rating_list">
                <th scope="row">{{index + 1}}</th>
                <td>
                    <img :src="item.photo_url" alt="">
                    {{item.full_name}}
                </td>
                <td>{{item.rating}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import {getRating} from "../services/websocket";

    export default {
        name: "Rating",
        computed: mapState({
            rating_list: state => {
                console.log(state.rating_list);
                return state.rating_list;
            }
        }),
        created() {
            getRating();
        }
    }
</script>
