<template>
    <div class="map">
        <div class="container">
            <table>
                <tr>
                    <td class="task earth planet recommended">
                        <router-link to="/tasks/introduction/0">
                            <img :src="earth" class="planet recommended">
                        </router-link>
                        <p>Введение</p>
                    </td>
                    <td v-for="(task, index) in tasks" class="task planet"
                        :class="{recommended: task.next_recommended, [task.slug]: true}" v-if="index < 5">
                        <router-link :to="{ path: '/tasks/' + task.slug}">
                            <img :src="getImgUrl(task.slug)">
                        </router-link>
                        <p>{{task.title}}</p>
                    </td>
                </tr>
                <tr>
                    <td v-for="(task, index) in tasksSkipped" class="task star"
                        :class="{recommended: task.next_recommended}">
                        <router-link :to="{ path: '/tasks/' + task.slug}">
                            <img :src="star">
                        </router-link>
                        <p>{{task.title}}</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import {getTasks} from "../services/websocket";
    import earth from "../assets/images/map/earth.png"
    import star from "../assets/images/map/star.png"

    export default {
        data: function () {
            return {
                earth: earth,
                star: star
            }
        },
        computed: mapState({
            tasks: state => state.tasks,
            tasksSkipped: state => {
                const res = [];
                let counter = 0;
                for (const a of state.tasks) {
                    if (counter >= 5) {
                        res.push(a);
                    }
                    counter++;
                }
                return res;
            }
        }),
        mounted() {
            getTasks();
        },
        methods: {
            getImgUrl(img) {
                var images = require.context('../assets/images/map/', true, /\.png$/)
                return images('./' + img + ".png")
            }
        }
    }
</script>

<style scoped>
    .map {
        background: url("../assets/images/map_background.jpg");
        background-size: cover;
    }

    h3 {
        color: white !important;
    }

    figcaption {
        text-align: center;
        color: white !important;
    }

    .planet {
        filter: drop-shadow(16px 16px 20px black);
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        border-radius: 50px;
        text-align: center;
        font-size: 20px;
        color: white !important;
    }

    .earth img {
        width: 130px;
    }

    .task {
        float: left;
        margin-left: 15px;
        text-align: center;
    }

    .task img {
        width: 140px;
    }

    .star {
        filter: drop-shadow(16px 16px 20px black);
        width: 90px;
    }

    .star img {
        width: 90px;
    }

    a:hover .overlay {
        display: block;
    }

    .task {
        opacity: 0.5;
    }

    .task.recommended {
        opacity: 1;
    }
</style>
