<template>
    <footer class="container">
        &copy; 2018-{{year}}
        <a href="/">GitEasy</a>.
        <a href="https://gitlab.com/giteasy/giteasy" target="_blank">
            <font-awesome-icon :icon="faGitlab"/>
            Исходный код
        </a>
    </footer>
</template>

<script>
    import {faGitlab} from '@fortawesome/free-brands-svg-icons/faGitlab'

    export default {
        name: "FooterInfo",
        data() {
            return {
                year: (new Date()).getFullYear(),
                faGitlab
            }
        }
    }
</script>

<style scoped>
    footer {
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        color: #ccc;
    }

    a, a:hover {
        color: #ccc;
        text-decoration: none;
    }

    a:hover {
        border-bottom: 1px solid #ccc;
    }
</style>
