<template>
    <div class="container">
        <div class="jumbotron">
            <img :src="logo" class="logo" alt="logo">
            <div id="content">
                <h1 class="display-3">GitEast</h1>
                <p class="lead">
                    Сервис по обучению работе с системой контроля версий Git
                </p>
                <p class="lead">
                    <a href="/login/vk-oauth2/" class="btn btn-primary btn-lg" role="button">
                        <font-awesome-icon :icon="faVk"/>
                        Войти
                    </a>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
    import logo from '../assets/images/groot.png'
    import {faVk} from '@fortawesome/free-brands-svg-icons/faVk'

    export default {
        name: "Login",
        data() {
            return {logo, faVk}
        }
    }
</script>

<style scoped>
    .jumbotron {
        display: flex;
        align-items: center;
    }
</style>
