<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li
                        v-for="point in points"
                        class="nav-item"
                >
                    <router-link class="nav-link" :to="point.link">{{ point.name }}</router-link>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <router-link class="navbar-brand mx-auto navbar" to="/">
                <img :src="logo2" width="80" height="40" alt="logo"/>
            </router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link">{{ checkpoints }}</a>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/profile">
                        {{ user }}: прогресс {{ progressPercent }}
                    </router-link>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <font-awesome-icon :icon="faSignOutAlt"/>
                        Выйти
                    </a>
                </li>

            </ul>
        </div>
    </nav>
</template>

<script>
    import {mapState} from 'vuex';
    import logo2 from "../assets/images/logo2.png"
    import {faSignOutAlt} from '@fortawesome/free-solid-svg-icons/faSignOutAlt'

    const points = [
        {name: 'Карта', link: '/', active: true},
        {name: 'Рейтинг', link: '/rating', active: true},
        // {name: 'Профиль', link: '#', active: false},
        // {name: 'Статистика', link: '#', active: false}
    ];

    export default {
        data() {
            return {
                logo2,
                points,
                faSignOutAlt
            }
        },
        computed: mapState({
            user: state => {
                console.log(state.user);
                return state.user ? state.user.full_name : ''
            },
            progressPercent: state => `${Math.ceil(state.progress * 100 / state.max_progress)}%`,
            checkpoints: state => {
                return state.checkpoints && `${state.checkpoints.passed} / ${state.checkpoints.total}`;
            }
        })
    }

</script>
