<template>
    <div id="hints" v-if="hasDefaultSlot">
        <slot></slot>
    </div>
</template>

<script>
    import terminalInit from '../services/terminal';
    import {checkpointsOn, sendCommand, startOkOn, startTask} from "../services/websocket";
    import {dockerConnect} from "../services/docker_websocket";

    export default {
        name: "Lesson",
        props: {
            slug: {
                type: String,
                required: true
            },
            intro_text: {
                type: Array,
                default: []
            }
        },
        data() {
            return {
                initialized: false
            }
        },
        computed: {
            hasDefaultSlot () {
              return !!this.$slots.default
            }
        },
        created() {
            this.term = terminalInit(this.$refs.terminal);
            this.term.write('Подключение...');

            let command = '';
            this.term.on('data', input => {
                console.log(input,);
                if (!input.startsWith('[')) {
                    if (input.charCodeAt(0) === 13) {
                        sendCommand(command);
                        command = '';
                    }
                    else if (input !== '') {
                        command += input;
                    }
                }
            });

            this.waitingInterval = setInterval(() => this.term.write('.'), 500);

            startOkOn(containerId => {
                dockerConnect(containerId, event => {
                    this.socket = event.target;
                    this.init(event.target);
                    event.target.send('\n');
                }, event => {
                    this.disconnect(event.target);
                });
            });
            startTask(this.slug);
        },
        beforeDestroy() {
            this.socket.force_close = true;
            this.socket.close();
            this.term.dispose();
        },
        methods: {
            init(socket) {
                console.log(socket);
                this.term.attach(socket, true, true);

                if (this.initialized) {
                    return;
                }
                this.initialized = true;
                clearInterval(this.waitingInterval);

                this.term.writeln('');
                if (this.intro_text) {
                    this.intro_text.forEach(text => this.term.writeln(text));
                    this.term.writeln('');
                }
            },
            disconnect(socket) {
                this.term.detach(socket);
            }
        }
    }
</script>

<style scoped>
    #hints {
        width: 45%;
        position: absolute;
        right: 0;
        z-index: 5;
    }
</style>
