<template>
    <Lesson slug="git_branches" :intro_text="intro_text">
        <div class="task">
            <p>
                Сегодня нам предстоит поработать над новой задачей.<br>
                Необходимо добавить таймер обратного отсчета начала полета.
                Давай создадим ветку <mark>feat_timer</mark> и перейдем на неё.
                Затем добавим файл таймера <mark>timer.py</mark><br><br>

                Тебе помогут команды <mark>git branch, git checkout и git merge</mark>. <br>А также тот опыт,
                который ты набрал(а) в предыдущих уроках. Удачи!

            </p>
        </div>
    </Lesson>
</template>

<script>
    import Lesson from '../../../src/components/TerminalLesson';

    export default {
        name: "GitBranches",
        components: {Lesson},
        data() {
            return {
                /*                intro_text: [
                                    'Сегодня нам предстоит поработать над новой задачей. ',
                                    'Необходимо добавить таймер обратного отсчета начала полета.',
                                    'Давай создадим ветку feat_timer и перейдем на неё. ',
                                    'Затем добавим файл таймера timer.py',
                                    '',
                                    'Тебе помогут команды git branch, git checkout и git merge. А также тот опыт, ',
                                    'который ты набрал(а) в предыдущих уроках. Удачи!'
                                ]*/
            }
        }
    }
</script>

<style>
    .task {
        margin-top: 17px;
    }

    mark {
        color: red;
        font-family: "Courier New";
    }
</style>