<template>
    <Lesson slug="git_status" :intro_text="intro_text">
        <div class="task">
            <p>
                Друг мой, проверь текущее состояние репозитория командой
                <mark>git status</mark>
                .<br>
                Наш дизайнер Гамора такая порой забывчивая,
                что забывает добавить свои файлы в репозиторий.<br>
                Помоги нам исправить положение, вспомнив, как ты добавлял файл Йонду<br> на прошлом уроке.
            </p>
            <img :src="gamora" class="gamora center-block"/>
        </div>
    </Lesson>
</template>

<script>
    import Lesson from '../../../src/components/TerminalLesson';
    import gamora from "../../../src/assets/images/lessons/gamora.jpg"


    export default {
        name: "GitStatus",
        components: {Lesson},
        data() {
            return {
                gamora: gamora
                /*                intro_text: [
                                    'Проверь текущее состояние репозитория командой git status. ',
                                    'Наш дизайнер Гамора такая порой забывчивая, ',
                                    'что забывает добавить свои файлы в репозиторий.',
                                    'Помоги нам исправить положение, применив знания с предыдущего занятия :)'
                                ]*/
            }
        }
    }
</script>
<style>
    .task {
        margin-top: 17px;
    }

    mark {
        color: red;
        font-family: "Courier New";
    }

    .gamora {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 75%;
    }
</style>