{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Git easy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/dist/style.css">

</head>
<body>
    <div class="bg"></div>
    <div class="container-fluid">
        <div class=" row text-center pt-5">
            <div class="col-md-3"></div>
            <div class="col-md-6">

                <img src="/dist/assets/images/logo.png"  class="logo img-fluid" alt="logo">
                <h3 class="pt-2 text-center text-white">Описание системы</h3>
                <a href="https://giteasy.atnartur.ru/login/vk-oauth2/" class="pt-2">
                    <button type="button" class="btn btn-primary btn-lg"><i class="fab fa-vk fa-1.5x"></i> Войти</button>
                </a>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>
