<template>
    <Lesson slug="git_init" :intro_text="intro_text">
        <div class="task">
            <p>Приветствуем тебя на первом уроке!<br><br>
                На базе мы разрабатываем программу для автопилотирования нашего корабля.
                Предлагаем и тебе присоединиться к нам! Проект уже существует. <br>
                Поэтому необходимо создать репозиторий
                для него. <br>
                Чтобы создать репозиторий, напиши команду <mark>git init</mark>
            </p>
            <img :src="heroes" class="heroes center-block"/>
        </div>
    </Lesson>
</template>

<script>
    import Lesson from '../../../src/components/TerminalLesson';
    import  heroes from "../../../src/assets/images/lessons/heroes.jpg"

    export default {
        name: "GitInit",
        components: {Lesson},
        data() {
            return {
                heroes: heroes
/*                                intro_text: [
                                    'Приветствуем тебя на первом уроке!',
                                    'На базе мы разрабатываем программу для автопилотирования нашего корабля.',
                                    'Предлагаем и тебе присоединиться к нам! Проект уже существует. Поэтому',
                                    'необходимо создать репозиторий для него.',

                                    'Чтобы создать репозиторий, напишите команду \x1B[1;3;31mgit init\x1B[0m'
                                ]*/
            }
        }
    }
</script>

<style>
    .terminal {
        height: 100%;
    }
    .task {
        margin-top: 17px;
    }
    mark {
        color: red;
        font-family: "Courier New";
    }
    .heroes {
        width: 95%;
    }
</style>